.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  font-size: 16px;
}


.headBanner{
  background-image: url("./assets/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 25vw;
}

.imgBckg{
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
.imgBckg h3{
  font-weight: bold;
}

/* images*/
.js{
  background-image: url("./assets/javascript.svg");
}
.git{
  background-image: url("./assets/git.svg");
}
.react{
  background-image: url("./assets/react.svg");
}
.node{
  background-image: url("./assets/nodejs-icon.svg");
}
.ironhack{
  background-image: url("./assets/ironhack.png")
}

.aboutTitle {
  margin: 2em;
  text-align: center;
}

.eventsDiv{
  margin: 0 auto;
  width: 40vw;
}
.proyectsDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ant-card-body *{
  margin-bottom: .5rem !important;
}
.proyectsDiv .ant-card {
  margin: 1rem !important;
}
.pTitle{
  font-weight: bold;
}
.footer span{
  margin: 1em;
}